
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, cyan, blue); 
    background: url(./images/back.jpeg) no-repeat;
    background-size: cover;
    color: #fff;
    font-size: x-large;
    justify-content: center;
}
.error_message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
