{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'welcome/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Our Website</h1>
        <p class="high">This is a website about social surveys. You can pass the survey by clicking the button below. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi quisquam est praesentium incidunt quis ea facere numquam aspernatur soluta. Hic. </p>
        <p>Feel free to explore our website!</p>
        <a href="/survey" class="btn">Take the Survey</a>
        <h4>If you have any questions, please <a class="down" href="mailto:admin@example.com?subject=For%20Creating%20Questions">contact</a> the administrator.</h4>
    </div>
</body>
</html>
